/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {
  help = false

  // Reference annotations
  hisat2_index = "rnaseq_complete_reference/hisat2_v2.2.1_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index"
  gtf_hisat2_index = "rnaseq_complete_reference/Ensembl_105/Homo_sapiens.GRCh38.105.gtf"
  gtf_fc = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.annotation.nochr.gtf"
  fasta = "rnaseq_complete_reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  txrevise_gffs = 'rnaseq_complete_reference/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  tx_fasta = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.transcripts.fa"

  // Pipeline Options
  name = false
  project = false
  forward_stranded = false
  reverse_stranded = false
  unstranded = false
  fcExtraAttributes = 'gene_name' 
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  saveIndividualQuants = false
  saveInfoLogs = false
  singleEnd = false
  outdir = './results'
  seqCenter = 'wsi'

  run_ge_quant = true
  run_salmon = false
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = false
  generate_bigwig = true
  run_sample_corr = true

  run_mbv = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

  // Custom LeafCutter options
  leafcutter_min_split_reads = 50 // requiring 50 split reads supporting each cluster
  leafcutter_min_intron_length = 50 //  allowing introns at least 50 bp length
  leafcutter_max_intron_length = 500000 // allowing introns of up to 500kb

  // DEXSeq options
  dexseq_min_align_quality = 10 // All reads with a lower quality than specified are skipped (as given in the fifth column of the SAM file)

  // Custom trimming options
  pico = false
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0

  // AWS Batch
  awsqueue = false
  awsregion = 'eu-west-1'

  // Defaults
  sampleLevel = false
  clusterOptions = false
  hisatBuildMemory = 200 // Required amount of memory in GB to build HISAT2 index with splice sites
  subsampFilesizeThreshold = 10000000000 // Don't subsample BAMs for RSeQC gene_body_coverage if less than this
  maxMultiqcEmailFileSize = 25.MB
  readPaths = null
  readPathsFile = null
  tracedir = "${params.outdir}/pipeline_info"
  star_memory = false // Cluster specific param required for hebbe
}

profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/igenomes.config'
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test {
    includeConfig 'conf/base.config'
    includeConfig 'conf/test.config'
  }
  tartu_hpc {
    includeConfig 'conf/base.config'
    includeConfig 'conf/tartu_hpc.config'
  }
  eqtl_catalogue {
    includeConfig 'conf/base.config'
    includeConfig 'conf/tartu_hpc.config'
    includeConfig 'conf/eqtl_catalogue.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nfcore-rnaseq_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nfcore-rnaseq_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nfcore-rnaseq_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nfcore-rnaseq_DAG.svg"
}

manifest {
  name = 'nf-core/rnaseq'
  description = 'Nextflow RNA-Seq analysis pipeline, part of the nf-core community.'
  homePage = 'https://github.com/nf-core/rnaseq'
  author = 'Phil Ewels, Rickard Hammarén'
  version = '1.2'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
