/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = 2
  memory = 8.GB * task.attempt 
  time = 4.h * task.attempt 

  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: low_memory {
    memory = 16.GB * task.attempt
  }
  withLabel: mid_memory {
    cpus = 4
    memory = 28.GB * task.attempt
    time = 8.h * task.attempt
  }
  withLabel: high_memory {
    cpus = 10
    memory = 70.GB * task.attempt
    time = 8.h * task.attempt
  }

  withName: makeHISATindex {
    cpus = 10
    memory = 200.GB * task.attempt
    time = 5.h * task.attempt
  }
  withName: trim_galore {
    time = 8.h * task.attempt
  }
  withName: sortmerna {
    cpus = 16 * task.attempt
    time = 24.h * task.attempt
    maxRetries = 2
  }
  withName: markDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options
    cpus = 8
    memory = 8.GB * task.attempt
  }
  withLabel: salmon {
    cpus = 8
    memory = 16.GB * task.attempt
  }
  withName: 'get_software_versions' {
    memory = 2.GB * task.attempt
    cache = false
    errorStrategy = 'ignore'
  }
  withName: 'multiqc' {
    memory = 2.GB * task.attempt
    cache = false
    executor = 'local'
    errorStrategy = 'ignore'
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
