/*
 * ---------------------------------------------------------------------------
 *  Paths to all of the eQTL Catalogue annotation files at UT HPC.
 * ---------------------------------------------------------------------------
 */

params {
  aligner = 'hisat2'
  hisat2_index = '/gpfs/hpc/home/a72094/annotations/eQTLCatalogue/v0.1/hisat2_index_v96/Homo_sapiens.GRCh38.dna.primary_assembly'
  gtf = '/gpfs/hpc/home/a72094/annotations/eQTLCatalogue/v0.1/gencode.v30.annotation.no_chr.gtf'
  fasta = '/gpfs/hpc/home/a72094/annotations/eQTLCatalogue/v0.1/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  txrevise_gffs = '/gpfs/hpchome/a72094/hpc/annotations/eQTLCatalogue/v0.1/Homo_sapiens.GRCh38.96.version_1/*.gff3'
  tx_fasta = '/gpfs/hpc/home/a72094/annotations/eQTLCatalogue/v0.1/gencode.v30.transcripts.fa'
}
