/*
 * ---------------------------------------------------------------------------
 *  Paths to all of the eQTL Catalogue annotation files at UT HPC.
 * ---------------------------------------------------------------------------
 */

params {
  hisat2_index = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/hisat2_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index'
  gtf_hisat2_index = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.gtf'
  gtf_fc = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.annotation.nochr.gtf'
  fasta = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  txrevise_gffs = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  tx_fasta = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.transcripts.fa'

  //Deafault parameters
  run_ge_quant = true
  run_salmon = true
  run_txrevise = true
  run_exon_quant = true
  run_leafcutter = true
  skip_qc = true
  skip_multiqc = true
  skip_edger = true
  skip_alignment = false
}

