/*
 You can go to projectDir (where the main.nf located) and start the NF pipeline like this
 
 nextflow run scripts/merge_fastq.nf \
  -profile tartu_hpc \
  --outdir /gpfs/space/projects/alasoo/Walker_2019/fastq/ \
  -c conf/merge_fastq.config \
  -resume

*/

params {
  singularity {
    enabled = false
    autoMounts = false
    cacheDir = "$baseDir/singularity_img/"
  }

  readPaths = [
    ['1', 'W19_1474', ['/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826555_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826556_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826557_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826558_1.fastq.gz']],
    ['2', 'W19_1474', ['/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826555_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826556_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826557_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826558_2.fastq.gz']],
    ['1', 'W19_1496', ['/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826559_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826560_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826561_1.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826562_1.fastq.gz']],
    ['2', 'W19_1496', ['/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826559_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826560_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826561_2.fastq.gz','/gpfs/space/projects/alasoo/Walker_2019/fastq_raw/SRR10826562_2.fastq.gz']]  
  ]
}

