/*
 * ---------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on University of Tartu HPC
 * ---------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
  enabled = true
  autoMounts = true
}

process {
  beforeScript = 'module load singularity'
  executor = 'slurm'
}

executor {
  name = 'slurm'
  queueSize = 20
}

params {
  max_memory = 64.GB
  max_cpus = 20
  max_time = 100.h
  tx_fasta = """ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/gencode.v29.transcripts.fa.gz"""
}
