/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

params {
  // Input data
  readPathsFile = "data/read_paths_GEUVADIS_GBR20.tsv"
  // Genome references
  unstranded = true
  outdir = "results/test_GEUVADIS_20samples"

  run_ge_quant = true
  run_salmon = true
  run_txrevise = true
  run_leafcutter = true
  run_exon_quant = true
}
