/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

params {
  // Input data
  readPathsFile = "data/read_pathes_GEUVADIS_GBR_20samples.tsv"
  // Genome references
  unstranded = true
  outdir = "results/test_GEUVADIS_20samples"
}
