/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

params {
  hisat2_index = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/hisat2_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index'
  gtf_hisat2_index = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.gtf'
  gtf_fc = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.annotation.nochr.gtf'
  fasta = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  txrevise_gffs = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  tx_fasta = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.transcripts.fa'
  // Input data
  dataset_id="GEUVADIS"
  readPathsFile = "data/read_paths_GEUVADIS.tsv"
  // Genome references
  unstranded = true
  outdir = "results/testdata_GEUVADIS"

  run_ge_quant = true
  run_salmon = false
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = false
  run_majiq = false
  has_zarr = false
  annt_file_gff_zarr = null
  majiq_license_file = "/gpfs/helios/projects/otar2069/rnaseq_update_files/majiq_license_academic_official.lic"
  gff3_annotation_file = "/gpfs/helios/projects/otar2069/rnaseq_update_files/Homo_sapiens.GRCh38.105.chr.gff3.gz"
  useDefaultMajiqMinExp=true
  majiqMinExp = 1

}
